@font-face {
    font-family: 'Serendity Script';
    src: url('../fonts/Serendity_Script.eot'), /* IE9 Compat Modes */
    url('../fonts/Serendity_Script.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Serendity_Script.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Serendity_Script.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Serendity_Script.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Serendity_Script.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
    background-color: #6a288a !important;
}

body, html, .starlight{
    height: 100% !important;
    background-color: transparent; /* #6a288a !important; */
}

.navbar-hmm{
    background-color: #501770;
}

.navbar-hmm a{
    color: white;
}

ul.navbar-nav > li > a:hover, ul.navbar-nav > li.active > a, .navbar-hmm a:hover{
    color: purple;
    border-radius: 10px;
    /*background-image: radial-gradient(50% 50%, yellow, yellow, #501770);*/
    background-color: yellow;
}

.layer{
    width: 100%;
    height: 100%;
}

.cursive{
    font-family: 'Serendity Script', serif;
}

.bigtext{
    font-size: 4em;
}

.yellow-text{
    color: #ffe860
}

.white-text{
    color: #FFFFFF
}
