body{
    background-color: #6a288a !important;
}

body, html, .starlight{
    height: 100% !important;
    background-color: transparent; /* #6a288a !important; */
}

.navbar-hmm{
    background-color: #501770;
}

.overlay {
    background:transparent;
    position:relative;
    width:75%;
    height:480px; /* your iframe height */
    top:480px;  /* your iframe height */
    margin-top:-480px;  /* your iframe height */
}

hr.purple-split{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid purple;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

hr.yellow-split{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid yellow;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

.event-location{
    width: 100%;
    max-width: 300px;
    border-radius: 150px;
    border-style: solid;
    border-color: yellow;
    border-width: 3px;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar-nav > li > a{
    color: white;
    background-color: #501770;
    padding: 7px;
    margin: 8px;
}

ul.navbar-nav > li > a:focus{
    background-color: #501770;
    border-radius: 10px;
    padding: 7px;
    margin: 8px;
}

ul.navbar-nav > li > a:hover, ul.navbar-nav > li.active > a{
    color: purple;
    border-radius: 10px;
    padding: 7px;
    margin: 8px;
}

ul.navbar-nav > li > a:hover{
    background-color: yellow;
}

ul.navbar-nav > li.active > a{
    background-color: #FFFF88;
}

.navbar-brand > span{
    color: yellow;
}

.layer{
    width: 100%;
    height: 100%;
}

.bigtext{
    font-size: 4em;
}

.yellow-text{
    color: #ffe860
}

.white-text{
    color: #FFFFFF
}

/*!
 * Start Bootstrap - Scrolling Nav (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.font-indie {
    font-family: 'Indie Flower', cursive;
}
.font-handlee {
    font-family: 'Handlee', cursive;
}
.font-limelight{
    font-family: 'Limelight', sans-serif;
}

.days-counter{
    font-family: 'Limelight', sans-serif;
    font-size: 7em;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Limelight', cursive;
}
section p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5em;
}

section strong{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    font-weight: bolder;
}

.intro-section {
    padding-top: 60px;
    height: 100%;
}

@media (max-width: 992px) {
    .intro-section {
        padding-top: 20px;
        min-height: 680px;
    }
}

.timer-section {
    min-height: 0;
    padding-top: 30px;
    background: lightyellow;
}

.events-section {
    background: #6a288a;
    color: white;
}

#events a{
    color: white;
}

.hotels-section {
    background: lightyellow;
}

.reno-section {
    background: #6a288a;
    color: white;
}

.registry-section {
    background: lightyellow;
}
.contact-section {
    background: #6a288a;
    color: white;
}

/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/

@media (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #events .row{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #events .row{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
