extends layout

block content
    .contiainer(style="margin-top: 40px;")
        .row
            .col-xs-12.text-center
                h1(style="color: #333333;") Holly Marie Spohn & Michael Joseph Mason
                h1
                    small save the date
                    br
                    small 10.8.17
                h3
                    small website coming soon