extends layout

block content
    .container.text-center.starlight.section-save-the-date(style="margin-top: 40px;", role="main")
        .row
            .col-xs-12
                h1.white-text October 8th, 2017
        .row
            .col-xs-12
                h1.white-text.cursive.bigtext Save the Date
        .row
            .col-xs-12
                h4.white-text for the wedding of
        .row
            .col-xs-12
                h1.yellow-text.cursive.bigtext Holly Marie Spohn &
                h1.yellow-text.cursive.bigtext Michael Joseph Mason
        .row
            .col-xs-12
                h4.white-text website coming soon