doctype html
html
    head
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->

        title= "The Masons"
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Limelight|Cabin+Sketch|Freckle+Face|Gochi+Hand|Handlee|Indie+Flower|Marck+Script|Oleo+Script", rel="stylesheet")
        link(rel='stylesheet', href='/css/style.css')
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/scrolling-nav.css")
    body(id="page-top", data-spy="scroll", data-target=".navbar-fixed-top")

        // Navigation
        nav.navbar.navbar-hmm.navbar-fixed-top(role='navigation')
            .container
                .navbar-header.page-scroll
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar(style="background-color: yellow;")
                        span.icon-bar(style="background-color: yellow;")
                        span.icon-bar(style="background-color: yellow;")
                    a.navbar-brand.page-scroll(href='#page-top')
                        span(class="glyphicon glyphicon-heart" style='font-size: 2.5em; line-height: 0.5em')
                // Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        // Hidden li included to remove active class from about link when scrolled up past about section
                        li.hidden
                            a.page-scroll(href='#page-top')
                        li
                            a.page-scroll(href='#events') Wedding Events
                        li
                            a.page-scroll(href='#hotels') Accomodations
                        li
                            a.page-scroll(href='#reno') Reno
                        li
                            a.page-scroll(href='#registry') Registry
                        li
                            a.page-scroll(href='#contact') Contact

        // /.navbar-collapse
            // /.container
        // Intro Section
        section#intro.intro-section
            ul#scene(style='height: 100%')
                li.layer.starlight-front(data-depth="0.25")
                li.layer.starlight-mid(data-depth="0.20")
                li.layer.starlight-back(data-depth="0.15")
                li.layer.starlight-more-back(data-depth="0.10")
                li.layer.starlight-super-back(data-depth="0.05")
                li.layer(data-depth="0")
                    .container.text-center(style="margin-top: 50px;")
                        .row
                            .col-xs-12
                                h1.white-text.font-limelight.bigtext Save the Date
                        .row
                            .col-xs-12
                                h1.white-text.font-handlee October 8th, 2017
                        .row
                            .col-xs-12
                                h4.white-text.font-handlee for the wedding of
                        .row
                            .col-xs-12
                                h1.yellow-text.font-handlee.bigtext Holly Marie Spohn &
                                h1.yellow-text.font-handlee.bigtext Michael Joseph Mason
        section#timer.timer-section
            .container
                .row
                    .col-md-3.col-md-offset-1
                        img(src='/img/bride.png', height='200px')
                    .col-md-4
                        h1.days-counter
                            script.
                                var startd = new Date();
                                var endd = new Date("2017-10-08");
                                var diff = new Date(endd - startd);
                                var days = diff / 1000 / 60 / 60 / 24;
                                document.write(Math.max(Math.ceil(days), 0));
                        h1 Days Remaining
                    .col-md-3
                        img(src='/img/groom.png', height='200px')
        section#events.events-section
            .container
                .row
                    .col-lg-12
                        h1 Wedding Events
                        p We are stoked to share our big day with you on Sunday! We’ve also planned a pre-wedding gathering if you’d like to hang out with us even more.
                .row
                    hr.purple-split
                .row
                    .col-md-3.vertical-center
                        img.event-location.center-block(src='/img/stamp.jpg')
                    .col-md-9.text-left
                        h2 Stamp Social Club
                        p Join us Saturday night for a chill (optional) evening of fresh cocktails, beer and wine in a funky new downtown setting. Stamp Social Club is part of The Basement Reno, located beneath the historic 1933 U.S. Post Office. Inspired by global travel, Stamp serves creative cocktails and elevated hospitality in a positive, social atmosphere. The first round is on us! No need to RSVP, just come and go as you please. If you’re looking for a place to grab dinner there are plenty of diverse options in the downtown area, or close by in the Midtown district. Feel free to contact us for more specific dinner recommendations.
                .row
                    .col-md-3.hidden-md.hidden-lg
                        img.event-location.center-block(src="/img/grove.jpg")
                    .col-md-9.text-left
                        h2 The Grove
                        p Our ceremony will be outdoors on the patio and will start at 4pm. Feel free to arrive early and enjoy some live brass quintet music and beautiful mountain views pre-ceremony. Immediately following the ceremony the party will move indoors for a night of celebration. Cocktails and passed appetizers will keep your palette piqued until our seated dinner begins at 5:30 in the Great Room.
                        p Make sure you request your favorite songs to keep those toes a tappin! We’ll see you out on the dance floor!
                    .col-md-3.hidden-sm.hidden-xs
                        img.event-location.center-block(src="/img/grove.jpg")
                //.col-lg-12
                        h1.font-freckle Freckle
                        p.font-freckle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus vitae dolor rhoncus vulputate quis eget mauris. Sed interdum ex nec metus mattis varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget varius ipsum, maximus posuere libero. Pellentesque consequat, quam at iaculis porta, purus nisl rhoncus tellus, sit amet lobortis sapien eros nec nunc. Ut auctor, risus vitae viverra egestas, leo risus lacinia justo, sed rutrum diam purus eu nibh. Suspendisse at dui aliquam, condimentum mauris in, accumsan ex. Vivamus ultricies orci volutpat, scelerisque arcu eu, gravida metus. Pellentesque gravida, mi aliquam ultricies consectetur, justo turpis condimentum ex, in varius mi magna id massa. Vivamus dictum dignissim libero non tempor. Nulla auctor placerat libero, non bibendum mi bibendum in. Sed vehicula odio quam, sed suscipit est lobortis at. Vestibulum fermentum imperdiet tortor, blandit sagittis sapien laoreet quis.
                        h1.font-gochi Gochi
                        p.font-gochi Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus vitae dolor rhoncus vulputate quis eget mauris. Sed interdum ex nec metus mattis varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget varius ipsum, maximus posuere libero. Pellentesque consequat, quam at iaculis porta, purus nisl rhoncus tellus, sit amet lobortis sapien eros nec nunc. Ut auctor, risus vitae viverra egestas, leo risus lacinia justo, sed rutrum diam purus eu nibh. Suspendisse at dui aliquam, condimentum mauris in, accumsan ex. Vivamus ultricies orci volutpat, scelerisque arcu eu, gravida metus. Pellentesque gravida, mi aliquam ultricies consectetur, justo turpis condimentum ex, in varius mi magna id massa. Vivamus dictum dignissim libero non tempor. Nulla auctor placerat libero, non bibendum mi bibendum in. Sed vehicula odio quam, sed suscipit est lobortis at. Vestibulum fermentum imperdiet tortor, blandit sagittis sapien laoreet quis.
                        h1.font-marck Marck
                        p.font-marck Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus vitae dolor rhoncus vulputate quis eget mauris. Sed interdum ex nec metus mattis varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget varius ipsum, maximus posuere libero. Pellentesque consequat, quam at iaculis porta, purus nisl rhoncus tellus, sit amet lobortis sapien eros nec nunc. Ut auctor, risus vitae viverra egestas, leo risus lacinia justo, sed rutrum diam purus eu nibh. Suspendisse at dui aliquam, condimentum mauris in, accumsan ex. Vivamus ultricies orci volutpat, scelerisque arcu eu, gravida metus. Pellentesque gravida, mi aliquam ultricies consectetur, justo turpis condimentum ex, in varius mi magna id massa. Vivamus dictum dignissim libero non tempor. Nulla auctor placerat libero, non bibendum mi bibendum in. Sed vehicula odio quam, sed suscipit est lobortis at. Vestibulum fermentum imperdiet tortor, blandit sagittis sapien laoreet quis.
                        h1.font-oleo Oleo
                        p.font-oleo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus vitae dolor rhoncus vulputate quis eget mauris. Sed interdum ex nec metus mattis varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget varius ipsum, maximus posuere libero. Pellentesque consequat, quam at iaculis porta, purus nisl rhoncus tellus, sit amet lobortis sapien eros nec nunc. Ut auctor, risus vitae viverra egestas, leo risus lacinia justo, sed rutrum diam purus eu nibh. Suspendisse at dui aliquam, condimentum mauris in, accumsan ex. Vivamus ultricies orci volutpat, scelerisque arcu eu, gravida metus. Pellentesque gravida, mi aliquam ultricies consectetur, justo turpis condimentum ex, in varius mi magna id massa. Vivamus dictum dignissim libero non tempor. Nulla auctor placerat libero, non bibendum mi bibendum in. Sed vehicula odio quam, sed suscipit est lobortis at. Vestibulum fermentum imperdiet tortor, blandit sagittis sapien laoreet quis.
                        h1.font-handlee Handlee
                        p.font-handlee Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus vitae dolor rhoncus vulputate quis eget mauris. Sed interdum ex nec metus mattis varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget varius ipsum, maximus posuere libero. Pellentesque consequat, quam at iaculis porta, purus nisl rhoncus tellus, sit amet lobortis sapien eros nec nunc. Ut auctor, risus vitae viverra egestas, leo risus lacinia justo, sed rutrum diam purus eu nibh. Suspendisse at dui aliquam, condimentum mauris in, accumsan ex. Vivamus ultricies orci volutpat, scelerisque arcu eu, gravida metus. Pellentesque gravida, mi aliquam ultricies consectetur, justo turpis condimentum ex, in varius mi magna id massa. Vivamus dictum dignissim libero non tempor. Nulla auctor placerat libero, non bibendum mi bibendum in. Sed vehicula odio quam, sed suscipit est lobortis at. Vestibulum fermentum imperdiet tortor, blandit sagittis sapien laoreet quis.
                        h1.font-indie Indie
                        p.font-indie Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget metus vitae dolor rhoncus vulputate quis eget mauris. Sed interdum ex nec metus mattis varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget varius ipsum, maximus posuere libero. Pellentesque consequat, quam at iaculis porta, purus nisl rhoncus tellus, sit amet lobortis sapien eros nec nunc. Ut auctor, risus vitae viverra egestas, leo risus lacinia justo, sed rutrum diam purus eu nibh. Suspendisse at dui aliquam, condimentum mauris in, accumsan ex. Vivamus ultricies orci volutpat, scelerisque arcu eu, gravida metus. Pellentesque gravida, mi aliquam ultricies consectetur, justo turpis condimentum ex, in varius mi magna id massa. Vivamus dictum dignissim libero non tempor. Nulla auctor placerat libero, non bibendum mi bibendum in. Sed vehicula odio quam, sed suscipit est lobortis at. Vestibulum fermentum imperdiet tortor, blandit sagittis sapien laoreet quis.
        section#hotels.hotels-section
            .container
                .row
                    .col-lg-12.text-left
                        h1.text-center Accomodations
                        p We have reserved a block of rooms at The Marriott Residence Inn, an all-suite hotel located 0.7 miles from The Grove. Rates are $119/night for a studio or 1-bedroom suite, or $199/night for a 2-bedroom suite, as long as you mention the “Mason and Spohn Wedding Room Block”. You may also follow the link below to book directly online.
                        strong You must book BEFORE Thursday, September 7th, 2017 in order to receive these rates.
                        p This group rate includes shuttle to and from the airport (8a-8p), as well as a shuttle to and from The Grove up until 10pm. The Marriott asks that you request shuttle service at least a day in advance. Complimentary hot buffet breakfast and a kitchen/kitchenette are also included in this rate.
                        p These group rates will be valid 2 days pre and post event based upon availability as well. Please note, you will need to call the hotel directly in order to book a room for extra days pre or post event, just ask for Aaron or Jared.
        section#reno.reno-section
            .container
                .row
                    .col-lg-12
                        h1 Things to do in Reno
                        p gamble
                        p drink
                        p watch homeless people
        section#registry.registry-section
            .container
                .row
                    .col-lg-12
                        h1 Gift Registry
                        p Macy's
                        p Target
                        p ???
        section#contact.contact-section
            .container
                .row
                    .col-lg-12
                        h1 Contact Us

    script(src='/js/jquery.min.js')
    script(src="/js/jquery.parallax.min.js")
    script(src='/js/jquery.easing.min.js')
    script(src='/js/scrolling-nav.js')
    script(src='/js/starlight.js')
    script(src='/js/bootstrap.min.js')
